body {
  color: #fff;
  font-family: Helvetica, Arial, serif;
}
html {
  height: 100%;
  width: 100%;
}

h2 {
}


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
}

h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

p {
  line-height: 1.5em;
  margin-bottom: 18px;
}

#food {
  background: rgba(0,0,0, 0.6);
  margin-left: 25px;
  padding: 100px 25px 25px 25px;
  width: 400px;
}

#food h2 {
  font-weight: normal;
  text-align: right;
}

#map {
  display: none;
}

#recipe {
  display: none;
}

#controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#logo {
  position: absolute;
  right: 20px;
  top: 20px;
}

.button {
  padding: 12px;
  text-align: center;
}

.button a {
  background: #79a532;
  color: #fff;
  font-weight: bold;
  padding: 12px 36px;
  text-transform: uppercase;
  text-decoration: none;
  -moz-border-radius: 2px;
}

.button a:hover {
  background: #000;
}

.last {
  margin-bottom: 0px;
}
